<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión como Proveedor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item lines="none" class="input-item">
    <ion-label position="floating">Ingrese su correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="correo_prov"></ion-input>
  </ion-item>

  <ion-item lines="none" class="input-item">
    <ion-label position="floating">Ingrese su contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="contrasena_prov"></ion-input>
  </ion-item>

  <ion-button expand="block" color="secondary" (click)="login()">Iniciar Sesión</ion-button>

  <div class="ion-text-center">
    <ion-button fill="clear" (click)="forgotPassword()">¿Olvidaste tu contraseña?</ion-button>
  </div>
  
</ion-content>